.container {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: justify;
}

@media(max-width: 768px) {
    .container {
        font-size: 16px;
    }
}

@media(max-width: 425px) {
    .container {
        font-size: 14px;
    }
}